@import "antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");
body {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}
body ::-webkit-scrollbar {
  display: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

p {
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  max-width: 115.2rem;
  padding: auto 3.2rem;
  margin: 0 auto;
}

.ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
  box-shadow: rgba(50, 50, 93, 0.25) 10px -9px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header-master {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  /* ant menu */
}
.header-master .logo-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header-master .logo-box .logo-icon img {
  width: 50px;
  height: 50px;
}
.header-master .logo-box .title {
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  background: linear-gradient(to right, rgb(246, 246, 15) 0%, #988a0a 100%);
  background-clip: text;
  color: transparent;
}
.header-master .ant-anchor-wrapper {
  background: none;
}
.header-master .ant-anchor {
  display: flex;
}
.header-master .ant-anchor-ink {
  display: none;
}
.header-master .ant-anchor-link {
  padding: 0 20px;
  line-height: 1.4;
  position: relative;
}
.header-master .ant-anchor-link::before, .header-master .ant-anchor-link::after {
  content: "";
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}
.header-master .ant-anchor-link::after {
  left: auto;
  right: 30%;
}
.header-master .ant-anchor-link.ant-anchor-link-active::before,
.header-master .ant-anchor-link:hover::before {
  left: 5%;
  opacity: 1;
}
.header-master .ant-anchor-link.ant-anchor-link-active::after,
.header-master .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}
.header-master .ant-menu {
  border: 0;
  background: none !important;
}
.header-master .ant-menu li.ant-menu-item {
  position: relative;
  color: #333;
}
.header-master .ant-menu li.ant-menu-item::before,
.header-master .ant-menu li.ant-menu-item::after {
  content: "";
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}
.header-master .ant-menu li.ant-menu-item::after {
  left: auto;
  right: 30%;
}
.header-master .ant-menu li.ant-menu-item,
.header-master .ant-menu li.ant-menu-item-selected {
  border: 0 !important;
}
.header-master .ant-menu li.ant-menu-item-selected,
.header-master .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
  background: none;
}
.header-master .ant-menu li.ant-menu-item-selected::before,
.header-master .ant-menu li.ant-menu-item:hover::before {
  left: 5%;
  opacity: 1;
}
.header-master .ant-menu li.ant-menu-item-selected::after,
.header-master .ant-menu li.ant-menu-item:hover::after {
  right: 5%;
  opacity: 1;
}
.header-master .right-menu {
  display: flex;
  align-items: center;
}
.header-master .right-menu .language {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.header-master .right-menu .language .icon img {
  width: 30px;
  height: 15px;
  object-fit: contain;
}
.header-master .right-menu .cart {
  margin: 0 30px;
}
.header-master .right-menu .btn-login {
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
.header-master .right-menu .btn-login span {
  margin-left: 5px;
}
.header-master .right-menu .content-user {
  padding: 3px 5px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
}
.header-master .right-menu .content-user .user-info img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
}

.ant-drawer-content-wrapper {
  width: 250px !important;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

@media only screen and (max-width: 876px) {
  .ant-layout-header .mobileVisible {
    display: block;
  }
  .ant-layout-header .mobileHidden {
    display: none;
  }
  .ant-layout-header .header-master .right-menu .language {
    margin-right: 10px;
  }
  .ant-layout-header .header-master .right-menu .cart {
    margin: 0 10px;
  }
  .ant-layout-header .header-master .right-menu .user-info {
    display: inline-block;
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 576px) {
  .ant-layout-header .header-master .right-menu .user-info {
    display: inline-block;
    padding: 5px 5px;
  }
}
body {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}
body ::-webkit-scrollbar {
  display: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

p {
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  max-width: 115.2rem;
  padding: auto 3.2rem;
  margin: 0 auto;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display") url("assets/fonts/SFProDisplay/SFPRODISPLAYBOLD.OTF") format("truetype");
  font-weight: bold;
}
.CourseCategory {
  padding: 30px 0;
  background: whitesmoke;
}
.CourseCategory h1 {
  text-align: center;
  font-weight: bold;
}
.CourseCategory .category-list {
  display: flex;
}
.CourseCategory .category-list .card-content {
  width: 15%;
  padding: 10px;
}
.CourseCategory .category-list .card-content .card-custom {
  text-align: center;
  height: 100px;
  border-radius: 10px;
}
.CourseCategory .category-list .card-content .card-custom .ant-card-body {
  padding: 20px 0;
}
.CourseCategory .category-list .card-content .card-custom .logo span {
  font-size: 30px;
  color: grey;
}
.CourseCategory .category-list .card-content .title {
  font-size: 14px;
  font-weight: bold;
  color: grey;
  margin-top: 10px;
}
.CourseCategory .slider-list .slider-custom {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.CourseCategory .slider-list .slider-custom .slick-list {
  padding-bottom: 20px;
}
.CourseCategory .slider-list .slider-custom .slick-dots {
  height: 50px;
  margin-top: 20px;
  position: unset;
}
.CourseCategory .normal-list {
  display: flex;
  gap: 20px;
}
.CourseCategory .normal-list .normal-item {
  width: 280px;
  position: relative;
}
.CourseCategory .normal-list .normal-item .label-box {
  position: absolute;
  top: 10px;
  left: 10px;
}
.CourseCategory .normal-list .normal-item .label-box .hot {
  padding: 0 5px;
  background-color: #fd2626;
  border-radius: 5px 0 5px 0;
  margin-right: 10px;
  color: white;
  font-size: 14px;
}
.CourseCategory .normal-list .normal-item .label-box .new {
  padding: 0 5px;
  background-color: #28b1ff;
  border-radius: 5px 0 5px 0;
  color: white;
  font-size: 14px;
}
.CourseCategory .normal-list .normal-item .label-new {
  position: absolute;
  top: 10px;
  left: 10px;
}
.CourseCategory .normal-list .normal-item .label-new span {
  padding: 0 5px;
  background-color: #28b1ff;
  border-radius: 5px 0 5px 0;
  color: white;
  font-size: 14px;
}
.CourseCategory .normal-list .normal-item .normal-card {
  border-radius: 5px;
  overflow: hidden;
}
.CourseCategory .normal-list .normal-item .normal-card .card-detail {
  padding: 10px;
}
.CourseCategory .normal-list .normal-item .normal-card .card-detail p {
  padding: 3px 0;
}
.CourseCategory .normal-list .normal-item .normal-card .card-detail .title {
  font-size: 16px;
  font-weight: bold;
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.CourseCategory .normal-list .normal-item .normal-card .card-detail .teacher span {
  color: #28b1ff;
}
.CourseCategory .normal-list .normal-item .normal-card .card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.CourseCategory .normal-list .normal-item .ant-card-body {
  padding: 0;
}

.details {
  font-family: "SF Pro Display";
}
.details .header__details {
  height: max-content;
  padding: 16px 0px 32px 112px;
  position: relative;
  background: linear-gradient(191deg, rgba(255, 192, 67, 0) 5.02%, rgba(255, 192, 67, 0.5) 94.1%);
  margin-top: -7px;
  min-height: 385px;
}
.details .header__details .title {
  margin-top: 30px;
}
.details .header__details .title .courseName {
  color: #1d1e22;
  font-size: 32px;
  font-style: normal;
  text-align: left;
  font-family: SF Pro Display;
  font-weight: bold;
  line-height: 40px;
}
.details .header__details .title .description {
  color: #1d1e22;
  font-size: 16px;
  font-style: normal;
  font-family: SF Pro Display;
  font-weight: normal;
  line-height: 24px;
}
.details .header__details .title .rate {
  font-size: 20px;
}
.details .body__details .info__course .left__course {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.details .body__details .info__course .left__course .infoBenefit {
  padding: 0px 24px;
  margin-top: 20px;
  margin-bottom: 24px;
}
.details .body__details .info__course .left__course .infoBenefit .listBenefit {
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
}
.details .body__details .info__course .right__course {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.details .body__details .info__course .right__course .card__payment {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  opacity: 0.8;
  cursor: auto;
  height: fit-content;
  z-index: 11;
  position: fixed;
  border-radius: 20px;
  width: 350px;
  background: #ffffff;
}
.details .body__details .info__course .right__course .card__payment .meta {
  display: flex;
  margin-top: 11px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.details .body__details .info__course .right__course .card__payment .meta .currentPrice {
  color: #000000;
  text-decoration: line-through;
}
.details .body__details .info__course .right__course .card__payment .meta .sellingPrice {
  color: #c89f65;
  font-size: 32px;
  font-weight: bold;
  margin-left: 5px;
}
.details .body__details .info__course .right__course .card__payment .btn__add {
  color: #000000;
  border: 1px solid #000000;
  font-size: 16px;
  font-weight: 700;
  border-radius: 100px;
  width: 200px;
  height: 40px;
  margin: 10px 0;
}
.details .body__details .info__course .right__course .card__payment .btn__payment {
  background-color: #fccf00;
  color: #000000;
  border: 1px solid #000000;
  font-size: 16px;
  font-weight: 700;
  border-radius: 100px;
  width: 200px;
  height: 40px;
}
.details .body__details .info__course .right__course .card__payment .icon {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: #c89f65;
  align-items: center;
}

.ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
  box-shadow: rgba(50, 50, 93, 0.25) 10px -9px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header-master {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  /* ant menu */
}
.header-master .logo-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header-master .logo-box .logo-icon img {
  width: 50px;
  height: 50px;
}
.header-master .logo-box .title {
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  background: linear-gradient(to right, rgb(246, 246, 15) 0%, #988a0a 100%);
  background-clip: text;
  color: transparent;
}
.header-master .ant-anchor-wrapper {
  background: none;
}
.header-master .ant-anchor {
  display: flex;
}
.header-master .ant-anchor-ink {
  display: none;
}
.header-master .ant-anchor-link {
  padding: 0 20px;
  line-height: 1.4;
  position: relative;
}
.header-master .ant-anchor-link::before, .header-master .ant-anchor-link::after {
  content: "";
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}
.header-master .ant-anchor-link::after {
  left: auto;
  right: 30%;
}
.header-master .ant-anchor-link.ant-anchor-link-active::before,
.header-master .ant-anchor-link:hover::before {
  left: 5%;
  opacity: 1;
}
.header-master .ant-anchor-link.ant-anchor-link-active::after,
.header-master .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}
.header-master .ant-menu {
  border: 0;
  background: none !important;
}
.header-master .ant-menu li.ant-menu-item {
  position: relative;
  color: #333;
}
.header-master .ant-menu li.ant-menu-item::before,
.header-master .ant-menu li.ant-menu-item::after {
  content: "";
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}
.header-master .ant-menu li.ant-menu-item::after {
  left: auto;
  right: 30%;
}
.header-master .ant-menu li.ant-menu-item,
.header-master .ant-menu li.ant-menu-item-selected {
  border: 0 !important;
}
.header-master .ant-menu li.ant-menu-item-selected,
.header-master .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
  background: none;
}
.header-master .ant-menu li.ant-menu-item-selected::before,
.header-master .ant-menu li.ant-menu-item:hover::before {
  left: 5%;
  opacity: 1;
}
.header-master .ant-menu li.ant-menu-item-selected::after,
.header-master .ant-menu li.ant-menu-item:hover::after {
  right: 5%;
  opacity: 1;
}
.header-master .right-menu {
  display: flex;
  align-items: center;
}
.header-master .right-menu .language {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.header-master .right-menu .language .icon img {
  width: 30px;
  height: 15px;
  object-fit: contain;
}
.header-master .right-menu .cart {
  margin: 0 30px;
}
.header-master .right-menu .btn-login {
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
.header-master .right-menu .btn-login span {
  margin-left: 5px;
}
.header-master .right-menu .content-user {
  padding: 3px 5px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
}
.header-master .right-menu .content-user .user-info img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
}

.ant-drawer-content-wrapper {
  width: 250px !important;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

@media only screen and (max-width: 876px) {
  .ant-layout-header .mobileVisible {
    display: block;
  }
  .ant-layout-header .mobileHidden {
    display: none;
  }
  .ant-layout-header .header-master .right-menu .language {
    margin-right: 10px;
  }
  .ant-layout-header .header-master .right-menu .cart {
    margin: 0 10px;
  }
  .ant-layout-header .header-master .right-menu .user-info {
    display: inline-block;
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 576px) {
  .ant-layout-header .header-master .right-menu .user-info {
    display: inline-block;
    padding: 5px 5px;
  }
}
.SignUp {
  padding-top: 50px;
  padding-bottom: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  position: relative;
}
.SignUp::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.SignUp .content {
  width: 40%;
  position: relative;
  padding: 20px 50px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}
.SignUp .content .title {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: black;
}
.SignUp .content .form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SignUp .content .form .form-group {
  width: 100%;
  margin-bottom: 20px;
}
.SignUp .content .form .form-group .form-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SignUp .content .form .form-group .form-body label {
  width: 25%;
}
.SignUp .content .form .form-group .form-body .input {
  width: 75%;
  border-radius: 10px;
}
.SignUp .content .form .form-group .errorText {
  color: red;
  text-align: right;
  padding: 8px 0;
  margin-bottom: 0;
}
.SignUp .content .form .captcha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.SignUp .content .form .captcha .cap-title {
  width: 25%;
}
.SignUp .content .form .captcha .left {
  width: 45%;
}
.SignUp .content .form .captcha .left input {
  padding: 4px 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 80%;
}
.SignUp .content .form .captcha .right {
  width: 35%;
}
.SignUp .content .form .captcha .right input {
  padding: 2px 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 80%;
  font-size: 18px;
  text-align: center;
  font-style: italic;
  letter-spacing: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #fa8bff;
  background-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
}
.SignUp .content .form .term {
  width: 100%;
  padding: 5px 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.SignUp .content .form .term span {
  cursor: pointer;
}
.SignUp .content .form .btn-submit {
  width: 100%;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
}
.SignUp .content .signin-tips {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.SignUp .content .signin-tips .btn-signin {
  border-radius: 20px;
}

.btn-hover, .SignUp .content .form .btn-submit {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 35px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hover:hover, .SignUp .content .form .btn-submit:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hover:focus, .SignUp .content .form .btn-submit:focus {
  outline: none;
}

.prevArrow:before,
.nextArrow:before {
  color: rgb(173, 172, 172) !important;
  font-size: 40px !important;
}/*# sourceMappingURL=index.css.map */