@import "antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");
body {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}
body ::-webkit-scrollbar {
  display: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

p {
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  max-width: 115.2rem;
  padding: auto 3.2rem;
  margin: 0 auto;
}

.ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
  box-shadow: rgba(50, 50, 93, 0.25) 10px -9px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header-master {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  /* ant menu */
}
.header-master .logo-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header-master .logo-box .logo-icon img {
  width: 50px;
  height: 50px;
}
.header-master .logo-box .title {
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  background: linear-gradient(to right, rgb(246, 246, 15) 0%, #988a0a 100%);
  background-clip: text;
  color: transparent;
}
.header-master .ant-anchor-wrapper {
  background: none;
}
.header-master .ant-anchor {
  display: flex;
}
.header-master .ant-anchor-ink {
  display: none;
}
.header-master .ant-anchor-link {
  padding: 0 20px;
  line-height: 1.4;
  position: relative;
}
.header-master .ant-anchor-link::before, .header-master .ant-anchor-link::after {
  content: "";
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}
.header-master .ant-anchor-link::after {
  left: auto;
  right: 30%;
}
.header-master .ant-anchor-link.ant-anchor-link-active::before,
.header-master .ant-anchor-link:hover::before {
  left: 5%;
  opacity: 1;
}
.header-master .ant-anchor-link.ant-anchor-link-active::after,
.header-master .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}
.header-master .ant-menu {
  border: 0;
  background: none !important;
}
.header-master .ant-menu li.ant-menu-item {
  position: relative;
  color: #333;
}
.header-master .ant-menu li.ant-menu-item::before,
.header-master .ant-menu li.ant-menu-item::after {
  content: "";
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}
.header-master .ant-menu li.ant-menu-item::after {
  left: auto;
  right: 30%;
}
.header-master .ant-menu li.ant-menu-item,
.header-master .ant-menu li.ant-menu-item-selected {
  border: 0 !important;
}
.header-master .ant-menu li.ant-menu-item-selected,
.header-master .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
  background: none;
}
.header-master .ant-menu li.ant-menu-item-selected::before,
.header-master .ant-menu li.ant-menu-item:hover::before {
  left: 5%;
  opacity: 1;
}
.header-master .ant-menu li.ant-menu-item-selected::after,
.header-master .ant-menu li.ant-menu-item:hover::after {
  right: 5%;
  opacity: 1;
}
.header-master .right-menu {
  display: flex;
  align-items: center;
}
.header-master .right-menu .language {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.header-master .right-menu .language .icon img {
  width: 30px;
  height: 15px;
  object-fit: contain;
}
.header-master .right-menu .cart {
  margin: 0 30px;
  position: relative;
  cursor: pointer;
}
.header-master .right-menu .cart i {
  font-size: 24px;
}
.header-master .right-menu .cart .total-quantity {
  position: absolute;
  top: -12px;
  left: 15px;
  background: rgb(246, 241, 112);
  padding: 1px 5px;
  border-radius: 50%;
  color: black;
  font-size: 14px;
}
.header-master .right-menu .btn-login {
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
.header-master .right-menu .btn-login span {
  margin-left: 5px;
}
.header-master .right-menu .content-user {
  padding: 3px 5px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
}
.header-master .right-menu .content-user .user-info img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
}

.ant-drawer-content-wrapper {
  width: 250px !important;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

@media only screen and (max-width: 876px) {
  .ant-layout-header .mobileVisible {
    display: block;
  }
  .ant-layout-header .mobileHidden {
    display: none;
  }
  .ant-layout-header .header-master .right-menu .language {
    margin-right: 10px;
  }
  .ant-layout-header .header-master .right-menu .cart {
    margin: 0 10px;
  }
  .ant-layout-header .header-master .right-menu .user-info {
    display: inline-block;
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 576px) {
  .ant-layout-header .header-master .right-menu .user-info {
    padding: 0;
  }
  .ant-layout-header .header-master .right-menu .user-info span {
    display: none;
  }
}
body {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}
body ::-webkit-scrollbar {
  display: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

p {
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  max-width: 115.2rem;
  padding: auto 3.2rem;
  margin: 0 auto;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display") url("assets/fonts/SFProDisplay/SFPRODISPLAYBOLD.OTF") format("truetype");
  font-weight: bold;
}
.CourseCategory {
  padding: 40px 0;
}
.CourseCategory .title-course {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
.CourseCategory .query-search {
  text-align: right;
}
.CourseCategory .query-search .ant-input-affix-wrapper {
  border: 1px solid rgb(145, 142, 142);
}
.CourseCategory .category-list .card-content .card-custom {
  display: flex;
  align-items: center;
  border: 1px solid rgb(199, 198, 198);
  cursor: pointer;
  padding: 10px;
}
.CourseCategory .category-list .card-content .logo {
  font-size: 20px;
  margin-right: 10px;
}
.CourseCategory .category-list .card-content.non_active {
  background-color: white;
}
.CourseCategory .category-list .card-content.active {
  background-color: #558ffa !important;
  color: white;
}
.CourseCategory .course-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.CourseCategory .course-list .item-content {
  width: 25%;
  padding-left: 20px;
  margin-bottom: 40px;
}
.CourseCategory .pagination-bar {
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .CourseCategory {
    padding: 20px 20px;
  }
  .CourseCategory .course-list .item-content {
    width: 50%;
  }
  .CourseCategory .query-search {
    margin-top: 10px;
  }
  .CourseCategory .query-search .ant-input-affix-wrapper {
    width: 100% !important;
  }
}
@media only screen and (max-width: 576px) {
  .CourseCategory {
    padding: 20px 20px;
  }
  .CourseCategory .course-list {
    height: 420px;
    overflow-y: auto;
  }
  .CourseCategory .course-list .item-content {
    width: 100%;
    margin-bottom: 5px;
  }
  .CourseCategory .course-list .item-content .card-content {
    display: flex;
    align-items: center;
  }
  .CourseCategory .course-list .item-content .card-content .label-box {
    display: none;
  }
  .CourseCategory .course-list .item-content .card-content .card-image {
    width: 20%;
  }
  .CourseCategory .course-list .item-content .card-content .card-image img {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }
  .CourseCategory .course-list .item-content .card-content .card-detail {
    width: 80%;
    padding: 3px 10px;
  }
  .CourseCategory .course-list .item-content .card-content .card-detail .title {
    font-size: 14px;
  }
}
.ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
  box-shadow: rgba(50, 50, 93, 0.25) 10px -9px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header-master {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  /* ant menu */
}
.header-master .logo-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header-master .logo-box .logo-icon img {
  width: 50px;
  height: 50px;
}
.header-master .logo-box .title {
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  background: linear-gradient(to right, rgb(246, 246, 15) 0%, #988a0a 100%);
  background-clip: text;
  color: transparent;
}
.header-master .ant-anchor-wrapper {
  background: none;
}
.header-master .ant-anchor {
  display: flex;
}
.header-master .ant-anchor-ink {
  display: none;
}
.header-master .ant-anchor-link {
  padding: 0 20px;
  line-height: 1.4;
  position: relative;
}
.header-master .ant-anchor-link::before, .header-master .ant-anchor-link::after {
  content: "";
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}
.header-master .ant-anchor-link::after {
  left: auto;
  right: 30%;
}
.header-master .ant-anchor-link.ant-anchor-link-active::before,
.header-master .ant-anchor-link:hover::before {
  left: 5%;
  opacity: 1;
}
.header-master .ant-anchor-link.ant-anchor-link-active::after,
.header-master .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}
.header-master .ant-menu {
  border: 0;
  background: none !important;
}
.header-master .ant-menu li.ant-menu-item {
  position: relative;
  color: #333;
}
.header-master .ant-menu li.ant-menu-item::before,
.header-master .ant-menu li.ant-menu-item::after {
  content: "";
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}
.header-master .ant-menu li.ant-menu-item::after {
  left: auto;
  right: 30%;
}
.header-master .ant-menu li.ant-menu-item,
.header-master .ant-menu li.ant-menu-item-selected {
  border: 0 !important;
}
.header-master .ant-menu li.ant-menu-item-selected,
.header-master .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
  background: none;
}
.header-master .ant-menu li.ant-menu-item-selected::before,
.header-master .ant-menu li.ant-menu-item:hover::before {
  left: 5%;
  opacity: 1;
}
.header-master .ant-menu li.ant-menu-item-selected::after,
.header-master .ant-menu li.ant-menu-item:hover::after {
  right: 5%;
  opacity: 1;
}
.header-master .right-menu {
  display: flex;
  align-items: center;
}
.header-master .right-menu .language {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.header-master .right-menu .language .icon img {
  width: 30px;
  height: 15px;
  object-fit: contain;
}
.header-master .right-menu .cart {
  margin: 0 30px;
  position: relative;
  cursor: pointer;
}
.header-master .right-menu .cart i {
  font-size: 24px;
}
.header-master .right-menu .cart .total-quantity {
  position: absolute;
  top: -12px;
  left: 15px;
  background: rgb(246, 241, 112);
  padding: 1px 5px;
  border-radius: 50%;
  color: black;
  font-size: 14px;
}
.header-master .right-menu .btn-login {
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
.header-master .right-menu .btn-login span {
  margin-left: 5px;
}
.header-master .right-menu .content-user {
  padding: 3px 5px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
}
.header-master .right-menu .content-user .user-info img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
}

.ant-drawer-content-wrapper {
  width: 250px !important;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

@media only screen and (max-width: 876px) {
  .ant-layout-header .mobileVisible {
    display: block;
  }
  .ant-layout-header .mobileHidden {
    display: none;
  }
  .ant-layout-header .header-master .right-menu .language {
    margin-right: 10px;
  }
  .ant-layout-header .header-master .right-menu .cart {
    margin: 0 10px;
  }
  .ant-layout-header .header-master .right-menu .user-info {
    display: inline-block;
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 576px) {
  .ant-layout-header .header-master .right-menu .user-info {
    padding: 0;
  }
  .ant-layout-header .header-master .right-menu .user-info span {
    display: none;
  }
}
.Banner {
  padding-top: 100px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: relative;
}
.Banner::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.Banner .content {
  position: relative;
  z-index: 99;
  text-align: center;
}
.Banner .content .title {
  font-size: 40px;
  color: white;
}
.Banner .content .description {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}
.Banner .content .description i {
  transform: translateY(-3px);
  margin: 0 5px;
}
.Banner .content .Typewriter {
  font-size: 18px;
  color: rgb(248, 204, 204);
}
.Banner .content .down-arrow {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  z-index: 10;
}

@media only screen and (max-width: 576px) {
  .Banner {
    height: 500px;
  }
  .Banner .content {
    padding: 0 10px;
  }
  .Banner .content .title {
    font-size: 30px;
  }
}
.SignUp {
  padding-top: 100px;
  padding-bottom: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  position: relative;
}
.SignUp::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.SignUp .content {
  width: 40%;
  position: relative;
  padding: 20px 50px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  opacity: 0.95;
}
.SignUp .content .title {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: black;
}
.SignUp .content .form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SignUp .content .form .form-group {
  width: 100%;
  margin-bottom: 20px;
}
.SignUp .content .form .form-group .form-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SignUp .content .form .form-group .form-body label {
  width: 25%;
}
.SignUp .content .form .form-group .form-body .input {
  width: 75%;
  border-radius: 10px;
}
.SignUp .content .form .form-group .errorText {
  color: red;
  text-align: right;
  padding: 8px 0;
  margin-bottom: 0;
}
.SignUp .content .form .captcha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.SignUp .content .form .captcha .cap-title {
  width: 25%;
}
.SignUp .content .form .captcha .left {
  width: 45%;
}
.SignUp .content .form .captcha .left input {
  padding: 4px 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 80%;
}
.SignUp .content .form .captcha .right {
  width: 35%;
}
.SignUp .content .form .captcha .right input {
  padding: 2px 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 80%;
  font-size: 18px;
  text-align: center;
  font-style: italic;
  letter-spacing: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #fa8bff;
  background-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
}
.SignUp .content .form .term {
  width: 100%;
  padding: 5px 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.SignUp .content .form .term span {
  cursor: pointer;
}
.SignUp .content .form .btn-submit {
  width: 100%;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
}
.SignUp .content .signin-tips {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.SignUp .content .signin-tips .btn-signin {
  border-radius: 20px;
}

.btn-hover, .SignUp .content .form .btn-submit {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 35px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hover:hover, .SignUp .content .form .btn-submit:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hover:focus, .SignUp .content .form .btn-submit:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .SignUp .content {
    width: 80%;
  }
}
.prevArrow:before,
.nextArrow:before {
  color: rgb(173, 172, 172) !important;
  font-size: 40px !important;
}

.SearchBar {
  position: absolute;
  margin-top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  z-index: 999;
}
.SearchBar .searchInputs {
  height: 80%;
  background: white;
  border: 1px solid #c2c1c1;
  padding-right: 5px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.SearchBar .searchInputs input {
  border: none;
  outline: none;
  margin: 0;
  border-right: 1px solid #c2c1c1;
  border-radius: 0;
}
.SearchBar .searchInputs .icon {
  margin-left: 10px;
  width: 10%;
  font-size: 20px;
  cursor: pointer;
}
.SearchBar .dataResult {
  position: absolute;
  top: 50px;
  left: 0;
  line-height: 40px;
  background: #fff;
  width: 100%;
  height: 250px;
  border: 1px solid rgb(224, 223, 223);
  overflow-y: auto;
}
.SearchBar .dataResult a {
  display: block;
  padding: 0 10px;
  border-bottom: 1px solid rgb(224, 223, 223);
  color: black;
}
.SearchBar .dataResult a:hover {
  background: rgb(236, 236, 236);
}
.SearchBar .dataResult a .search-content {
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.SearchBar .dataResult a .search-content img {
  border: 1px solid rgb(205, 203, 203);
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.SearchBar .dataResult a .search-content span {
  display: inline-block;
  line-height: normal;
  margin-left: 20px;
}
.SearchBar .dataResult::-webkit-scrollbar {
  display: none;
}

#Footer {
  background-image: url("../../../assets/img/background/bg-footer/bg4.png");
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
#Footer::before {
  content: "";
  background-image: url("../../../assets/img/background/bg-footer/pattern2.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#Footer .footer-top {
  padding: 50px 60px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: url("../../../assets/img/background/bg-footer/pattern3.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}
#Footer .footer-top .text {
  width: 50%;
}
#Footer .footer-top .form-content {
  width: 50%;
  display: flex;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#Footer .footer-top .form-content .input-email {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
  width: 80%;
}
#Footer .footer-top .form-content button {
  padding: 10px 35px;
  font-size: 20px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
  width: 20%;
}
#Footer .footer-bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}
#Footer .footer-bottom .footer-item {
  width: 25%;
  margin-right: 10px;
}
#Footer .footer-bottom .footer-item .logo-title {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  background: -webkit-linear-gradient(rgb(129, 129, 127), rgb(164, 193, 3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#Footer .footer-bottom .footer-item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}
#Footer .footer-bottom .footer-item li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 25px 0;
}
#Footer .footer-bottom .footer-item i {
  font-weight: 700;
  margin-right: 10px;
}
#Footer .footer-bottom .footer-item .contact i {
  width: 40px;
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50%;
  font-size: 22px;
}
#Footer .footer-bottom .footer-item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}
#Footer .footer-bottom .footer-item h3::before {
  width: 15px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
#Footer .footer-bottom .footer-item h3::after {
  width: 45px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
#Footer .footer-bottom .footer-item.link-item li {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
  list-style: none;
  cursor: pointer;
}
#Footer .footer-bottom .footer-item.link-item li:hover {
  color: white;
}
#Footer .footer-bottom .footer-item.link-item li:hover a {
  color: white;
}
#Footer .footer-copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
#Footer .footer-copyright .footer-content {
  display: flex;
  justify-content: space-between;
}
#Footer .footer-copyright .footer-content .footer-left span {
  color: #f55f8d;
}
#Footer .footer-copyright .footer-content .footer-right p {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
  margin-left: 10px;
}
#Footer .footer-copyright .footer-content .footer-right p:hover {
  background: #f55f8d;
}

@media screen and (max-width: 576px) {
  .footer .footer-top {
    padding: 10px 10px;
    margin: 20px;
    flex-direction: column;
  }
  .footer .footer-top .text {
    width: 100%;
  }
  .footer .footer-top .form-content {
    width: 100%;
  }
  .footer .footer-bottom {
    flex-wrap: wrap;
    padding: 20px 0;
  }
  .footer .footer-bottom .footer-item {
    width: 40%;
    margin-left: 20px;
  }
  .footer .footer-copyright {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer .footer-copyright .footer-left {
    width: 50%;
  }
}/*# sourceMappingURL=index.css.map */