.Payment {
	padding: 80px 0;

	.title-payment {
		text-align: center;
	}

	.total-money {
		text-align: right;
		padding: 10px 0;

		span {
			font-size: 30px;
		}

		.money {
			color: rgb(246, 110, 110);
			margin-left: 20px;
		}
	}

	.user-description {
		margin-left: 30px;

		border: 1px solid rgb(192, 191, 191);
		border-radius: 5px;

		h2 {
			text-align: center;
			border-bottom: 1px solid rgb(208, 207, 207);
			padding: 10px 0;
		}

		.body {
			display: flex;
			padding: 20px 5px;
			.left {
				width: 30%;
				text-align: center;

				.logo {
					img {
						width: 80%;
						height: 80%;
						object-fit: cover;
						border-radius: 10px;
					}
				}

				.user-name {
					font-size: 16px;
					font-weight: bold;
				}
			}

			.right {
				width: 70%;
				div {
					margin-bottom: 3px;
				}
			}
		}
	}

	.btn-book-course {
		margin-left: 30px;
		margin-top: 30px;
		background-color: rgb(255, 66, 78);
		color: white;
		text-align: center;
		padding: 13px 10px;
		border-radius: 4px;
		border: none;
		cursor: pointer;
		font-size: 18px;
	}
}

//responsive
@media (max-width: 665px) {
	.Payment {
		.btn-book-course {
		}
	}
}
