.lecturers{
    margin-top: 100px;
    padding: 15px;
    .avatar{
        text-align: center;
        .ant-image-mask{
            border-radius: 50%;
        }
    }
    .infoLectures{
        padding: 0 0 0 150px  ;
        .ant-descriptions-item-label {
            font-size: 20px;
            font-weight: 700;
            color: #082346;
        }
        .ant-descriptions-item-content{
            font-size: 20px;
            font-weight: 700;
            color: #082346;
            text-align: center;
        }
    }
}