@import "./variables";

// btn hover effect
.btn-hover {
	width: 200px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	margin: 20px;
	height: 35px;
	text-align: center;
	border: none;
	background-size: 300% 100%;

	border-radius: 50px;
	moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

	&:hover {
		background-position: 100% 0;
		moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}

	&:focus {
		outline: none;
	}
}

// Un Selectable on text (no copy)
.unSelectable {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #cc0000;
}
