#Footer {
	background-image: url("../../../assets/img/background/bg-footer/bg4.png");
	display: block;
	height: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #0e1b1f;
	background-size: contain;
	color: #fff;
	font-size: 15px;
	position: relative;

	margin-top: 80px;

	&::before {
		content: "";
		background-image: url("../../../assets/img/background/bg-footer/pattern2.png");
		background-position: left top;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.footer-top {
		padding: 50px 60px;
		background-color: white;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		background-image: url("../../../assets/img/background/bg-footer/pattern3.png");
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: 100%;
		position: relative;
		display: flex;

		.text {
			width: 50%;
		}

		.form-content {
			width: 50%;
			display: flex;
			border-radius: 8px;
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

			.input-email {
				padding: 10px 20px;
				font-size: 15px;
				font-weight: 400;
				color: #888;
				background: #fff;
				border-radius: 0.5rem 0 0 0.5rem;
				border: 1px solid #fff;
				outline: 0;
				transition: all 0.5s;
				width: 80%;
			}
			button {
				padding: 10px 35px;
				font-size: 20px;
				background-image: linear-gradient(
					to right,
					#f55f8d 0,
					#f8ae56 51%,
					#f55f8d 100%
				);
				background-size: 200%;
				border-color: transparent;
				transition: all 0.5s;
				border-radius: 0 0.5rem 0.5rem 0;
				color: #fff;
				cursor: pointer;
				width: 20%;
			}
		}
	}

	// footer-bottom
	.footer-bottom {
		display: flex;
		padding: 70px 0;
		position: relative;

		.footer-item {
			width: 25%;
			margin-right: 10px;

			.logo-title {
				font-size: 30px;
				font-weight: bold;
				font-style: italic;
				background: -webkit-linear-gradient(rgb(129, 129, 127), rgb(164, 193, 3));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			p {
				color: #636363;
				font-size: 16px;
				transition: all 0.5s;
			}

			li {
				list-style-type: none;
				display: flex;
				align-items: center;
				margin: 25px 0;
			}

			i {
				font-weight: 700;
				margin-right: 10px;
			}

			.contact {
				i {
					width: 40px;
					height: 40px;
					color: white;
					line-height: 40px;
					text-align: center;
					background: linear-gradient(
						to right,
						#f55f8d 0,
						#f8ae56 51%,
						#f55f8d 100%
					);
					display: block;
					border-radius: 50%;
					font-size: 22px;
				}
			}

			h3 {
				font-size: 24px;
				font-weight: 700;
				padding-bottom: 10px;
				margin-bottom: 30px;
				position: relative;
				color: #fff;

				&::before {
					width: 15px;
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					height: 4px;
					border-radius: 20px;
					background: linear-gradient(
						to right,
						#f55f8d 0,
						#f8ae56 51%,
						#f55f8d 100%
					);
					background-size: 200%;
				}

				&::after {
					width: 45px;
					content: "";
					position: absolute;
					bottom: 0;
					left: 20px;
					height: 4px;
					border-radius: 20px;
					background: linear-gradient(
						to right,
						#f55f8d 0,
						#f8ae56 51%,
						#f55f8d 100%
					);
					background-size: 200%;
				}
			}
		}

		.footer-item.link-item {
			li {
				color: #636363;
				font-size: 16px;
				transition: all 0.5s;
				list-style: none;
				cursor: pointer;

				&:hover {
					color: white;

					p {
						color: white;
					}
				}
			}
		}
	}

	// copy right
	.footer-copyright {
		background-color: #1f343b;
		padding: 10px 0;
		position: relative;

		.footer-content {
			display: flex;
			justify-content: space-between;

			.footer-left {
				span {
					color: #f55f8d;
				}
			}

			.footer-right {
				p {
					height: 32px;
					width: 32px;
					line-height: 32px;
					text-align: center;
					display: inline-block;
					border-radius: 50px;
					font-size: 14px;
					color: #fff;
					background-color: rgba(255, 255, 255, 0.1);
					transition: all 0.5s;
					margin-left: 10px;

					&:hover {
						background: #f55f8d;
					}
				}
			}
		}
	}
}

// responsive
@media screen and (max-width: 768px) {
	#Footer {
		.footer-top {
			padding: 10px 10px;
			margin: 20px;
			flex-direction: column;

			.text {
				width: 100%;
			}
			.form-content {
				width: 100%;
			}
		}

		.footer-bottom {
			flex-wrap: wrap;
			padding: 20px 0;
			.footer-item {
				width: 40%;
				margin-left: 20px;
			}
		}

		.footer-copyright {
			padding-left: 20px;
			padding-right: 20px;

			.footer-left {
				width: 50%;
			}
		}
	}
}

// @media screen and (max-width: 576px) {
// 	#Footer {
// 		.footer-top {
// 			padding: 10px 10px;
// 			margin: 20px;
// 			flex-direction: column;

// 			.text {
// 				width: 100%;
// 			}
// 			.form-content {
// 				width: 100%;
// 			}
// 		}

// 		.footer-bottom {
// 			flex-wrap: wrap;
// 			padding: 20px 0;
// 			.footer-item {
// 				width: 40%;
// 				margin-left: 20px;
// 			}
// 		}

// 		.footer-copyright {
// 			padding-left: 20px;
// 			padding-right: 20px;

// 			.footer-left {
// 				width: 50%;
// 			}
// 		}
// 	}
// }
