.details {
  font-family: "SF Pro Display";
  .header__details {
    height: max-content;
    padding: 16px 0px 32px 112px;
    position: relative;
    background: linear-gradient(
      191deg,
      rgba(255, 192, 67, 0) 5.02%,
      rgba(255, 192, 67, 0.5) 94.1%
    );
    margin-top: -7px;
    min-height: 385px;
    .title {
      margin-top: 30px;
      .courseName {
        color: #1d1e22;

        font-size: 32px;
        font-style: normal;
        text-align: left;
        font-family: SF Pro Display;
        font-weight: bold;
        line-height: 40px;
      }
      .description {
        color: #1d1e22;

        font-size: 16px;
        font-style: normal;
        font-family: SF Pro Display;
        font-weight: normal;
        line-height: 24px;
      }
      .rate {
        font-size: 20px;
      }
    }
  }
  .body__details {
    .info__course {
      .left__course {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        .infoBenefit {
          padding: 0px 24px;
          margin-top: 20px;
          margin-bottom: 24px;
          .listBenefit {
            font-size: 20px;
            font-weight: 400;
            line-height: 2;
          }
        }
      }
      .right__course {
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 1000;
        .card__payment {
          box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
            rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
            rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
          opacity: .8;
          cursor: auto;
          height: fit-content;
          z-index: 11;
          position: fixed;
          border-radius: 20px;
          width: 350px;
          background: #ffffff;

          .meta {
            display: flex;
            margin-top: 11px;
            text-align: center;
            align-items: center;
            justify-content: center;
            .currentPrice {
              color: #000000;
              text-decoration: line-through;
            }
            .sellingPrice {
              color: #c89f65;
              font-size: 32px;
              font-weight: bold;
              margin-left: 5px;
            }
          }
          .btn__add {
            color: #000000;
            border: 1px solid #000000;
            font-size: 16px;
            font-weight: 700;
            border-radius: 100px;
            width: 200px;
            height: 40px;
            margin: 10px 0;
          }
          .btn__payment {
            background-color: #fccf00;
            color: #000000;
            border: 1px solid #000000;
            font-size: 16px;
            font-weight: 700;
            border-radius: 100px;
            width: 200px;
            height: 40px;
          }
          .icon {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            font-size: 30px;
            color: #c89f65;
            align-items: center;
          }
        }
      }
    }
  }
}
