.ELearningDetail {
	.top {
		background: #1c1d1f;
		color: white;
		.bread-crumb {
			padding: 25px 0;

			span {
				font-size: 16px;
				margin-right: 5px;
				margin-left: 5px;
				color: #cec0fc;
				cursor: pointer;
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}
