// reset padding card

.CourseCategory {
	padding-top: 40px;
	// background-image: url(../../../../../../assets/img/background/pic2.png);
	// background-size: 100%;
	// background-position: top center;
	// background-repeat: no-repeat;
	// overflow: hidden;
	.title-course {
		text-align: center;
		margin-bottom: 20px;
		font-weight: bold;
	}

	.query-search {
		text-align: right;
		.ant-input-affix-wrapper {
			border: 1px solid rgb(145, 142, 142);
		}
	}

	.category-list {
		.card-content {
			.card-custom {
				display: flex;
				align-items: center;
				border: 1px solid rgb(199, 198, 198);
				cursor: pointer;
				padding: 10px;
			}

			.logo {
				font-size: 20px;
				margin-right: 10px;
			}

			//
			&.non_active {
				background-color: white;
			}
			&.active {
				background-color: rgb(192, 213, 250) !important;
			}
		}
	}

	//////
	.course-list {
		display: flex;
		justify-content: start;
		flex-wrap: wrap;

		.item-content {
			width: 25%;
			padding-left: 20px;
			margin-bottom: 40px;
		}
	}

	//////
	.load-content {
		text-align: center;
		margin-top: 10px;

		.show-more {
			margin-right: 10px;
			background-color: #18c1f2;
			color: white;
		}

		.show-less {
			background-color: #b276f8;
			color: white;
		}
	}
}

// responsive
@media only screen and (max-width: 768px) {
	.CourseCategory {
		padding: 20px 20px;
		.course-list {
			.item-content {
				width: 50%;
			}
		}

		.query-search {
			margin-top: 10px;
			.ant-input-affix-wrapper {
				width: 100% !important;
			}
		}
	}
}

@media only screen and (max-width: 576px) {
	.CourseCategory {
		padding: 20px 20px;
		.course-list {
			height: 420px;
			overflow-y: auto;
			.item-content {
				width: 100%;
				margin-bottom: 5px;
				.card-content {
					display: flex;
					align-items: center;
					.label-box {
						display: none;
					}
					.card-image {
						width: 20%;
						img {
							width: 60px;
							height: 60px;
							object-fit: contain;
						}
					}
					.card-detail {
						width: 80%;
						padding: 3px 10px;

						.title {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}
