.comment {
    padding: 15px;
    .comment__body {
      .rate_comment {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
      }
      .text {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
        color: #082346;
        line-height: 24px;
      }
      .studentComment {
          height: 350px;
          overflow-y: auto;
        .student {
          font-size: 16px;
          font-weight: 600;
          line-height: 1.43;
          width: 100%;
          border-radius: 10px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
      }
    }
  }