@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');
body{
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
p{
  margin: 0;
}
html {
  // This defines what 1rem is
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.container{
  max-width: 115.2rem;
  padding: auto 3.2rem;
  margin: 0 auto;
}